.ui-datepicker td.special>a.ui-state-default{
    background-color: orange !important;
}
.ui-datepicker td a.ui-state-default {
    background-color: green;
}

.ui-datepicker td.ui-datepicker-week-end>a.ui-state-default {
    background-color: yellow;
}

.ui-state-disabled {
    opacity: 0 !important;
}

.ui-datepicker td.ui-state-disabled>span.ui-state-default {
    background-color: gray;
}

.ui-datepicker-group {
    width:auto !important;
    float:left !important;
}

#calendar{
    width: 100%;
    margin: 15% auto;
}

.ui-datepicker-inline{
   width:auto !important;
   flex-wrap: wrap;
}