<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Programming Exercise UI Devs</title>
    <link rel="stylesheet" href="css/jquery-ui.min.css">
    <link rel="stylesheet" href="css/jquery-ui.theme.min.css">
    <link rel="stylesheet" href="css/bulma.css">
    <link rel="stylesheet" href="css/app.css">
    <script src="js/jquery.js"></script>
    <script src="js/dayjs.min.js"></script>
    <script src="js/dayjs-customParseFormat.min.js"></script>
    <script src="js/axios.min.js"></script>
</head>

<body>

    <div id="app">

        <section class="hero is-small is-primary is-bold">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">ProSoft</h1>
                    <h2 class="subtitle">Programming Exercise UI Devs</h2>
                </div>
            </div>
            <div class="notification">
                <div class="container">

                    <div class="field is-horizontal">
                        <div class="field-label">
                            <label class="label" for="date1">Start Date</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <input id="date1" name="dqt" type="text" v-model="form.start_date"
                                        :class="['input', 'is-hovered', errors.start_date ? 'is-danger' : '']"
                                        placeholder="mm/dd/yyyy">
                                </div>
                                <p v-if="errors.start_date" class="help is-danger">{{ errors.start_date }}</p>
                            </div>
                        </div>
                    </div>

                    <div class="field is-horizontal">
                        <div class="field-label">
                            <label class="label" for="number_of">Number Of Days</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <input id="number_of" type="number" v-model="form.days_number" min="1"
                                        :class="['input', 'is-hovered', errors.days_number ? 'is-danger' : '']">
                                </div>
                                <p v-if="errors.days_number" class="help is-danger">{{ errors.days_number }}</p>
                            </div>
                        </div>
                    </div>

                    <div class="field is-horizontal">
                        <div class="field-label">
                            <label class="label" for="country_code">Country Code</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <input id="country_code" type="text" v-model="form.country_code"
                                        :class="['input', 'is-hovered', errors.country_code ? 'is-danger' : '']"
                                        placeholder="US" maxlength="2">
                                </div>
                                <p v-if="errors.country_code" class="help is-danger">{{ errors.country_code }}</p>
                            </div>
                        </div>
                    </div>

                    <div class="field is-horizontal">
                        <div class="field-label"></div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <button class="button is-info is-pulled-right"
                                        :class="{ 'is-loading': loading }"
                                        :disabled="loading"
                                        @click.prevent="submit()">
                                        Submit
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="container has-text-centered">
                    <div class="columns">
                        <div class="column"></div>
                        <div class="column">
                            <calendar></calendar>
                        </div>
                        <div class="column"></div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <script src="js/jquery-ui.min.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/app.js"></script>
</body>

</html>
