<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Programming Exercise UI Devs</title>
    <link rel="stylesheet" href="css/jquery-ui.min.css">
    <link rel="stylesheet" href="css/jquery-ui.theme.min.css">
    <link rel="stylesheet" href="css/bulma.css">
    <link rel="stylesheet" href="css/app.css">
    <script src="js/jquery.js"></script>
    <script src="js/moment.min.js"></script>
    <script src="js/axios.min.js"></script>

</head>

<body>

    <div id="app">

        <section class="hero is-small is-primary is-bold">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">
                        ProSoft
                    </h1>
                    <h2 class="subtitle">
                        Programming Exercise UI Devs
                    </h2>
                </div>
            </div>
            <div class="notification">
                <div class="container">

                    <div class="field is-horizontal">
                        <div class="field-label">
                            <label class="label">Start Date</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <input id="date1" name="dqt" type="text" v-model="form.start_date" class="input is-hovered" placeholder="mm/dd/yyyy">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label">
                            <label class="label">Number Of days</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <input id='number_of' type="number" v-model="form.days_number" class="input is-hovered">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label">
                            <label class="label">Country Code</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <input id='country_code' type="text" v-model="form.country_code" class="input is-hovered" placeholder="US">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label">
                            <!-- Left empty for spacing -->
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <button class="button is-info is-pulled-right" @click.prevent="submit()">
                                Submit
                                </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="container has-text-centered">
                    <div class="columns">
                    <div class="column"></div> 
                    <div class="column">
                        <calendar></calendar>
                    </div>
                    <div class="column"></div>                   
                    </div>
                    
                </div>
            </div>

        </section>
    </div>



    <script src="js/jquery-ui.min.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/app.js"></script>
    <script>
        $(document).ready(function() {
            var dateFormat = "mm/dd/yy",
                from = $("#from")
                .datepicker({
                    defaultDate: "+17",
                    minDate: "w",
                    maxDate: "+17",
                    numberOfMonths: 2,
                    gotoCurrent: true,
                });


            function getDate(element) {
                var date;
                try {
                    date = $.datepicker.parseDate(dateFormat, element.value);
                } catch (error) {
                    date = null;
                }

                return date;
            }
        });
    </script>
</body>

</html>